body{
    background-image: url(../images/tweed_@2X.png);
    background-repeat: repeat;
}
.jumboclass{
    font-family: 'Monoton', cursive;
    color: #fef7ed;
    background:none;    
}

.search-container {
    background-color: #fef7ed;
}

.inputclass, .infoclass{
    font-family: 'Voltaire', sans-serif;
}

.results-container{
    background-color: #fef7ed;
}

.song{
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.song:hover{
    background-color: #a5fad6;
}

.queryFound {
    background-color: #c9faa5;
}

.footer {
    font-size: 24px;
    color:#fef7ed;
}