body{
    background-image: url(../images/tweed_@2X.png);
}
.jumboclass{
    font-family: 'Monoton', cursive;
    color: beige;
    opacity: .75;
    background:none;
     
}

.queryFound {
    background-color: yellow; 
}

.inputclass, .infoclass{
    font-family: 'Voltaire', sans-serif;
}
.song{
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.song:hover{
    background-color: orange;
}